@tailwind base;
@tailwind components;
@tailwind utilities;






@font-face {
  font-family: "Briston";
  src: url("/fonts/Briston.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.ttf") format("truetype");
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    scroll-behavior: smooth !important;
}

body{
  overflow-x: hidden !important;
}


@layer components {
  .primary_text {
    @apply bg-primary bg-clip-text ;
  }
  .input {
    @apply  border-b-[1px] border-b-[##6A6A79] bg-transparent w-full outline-none text-white flex items-center;
  }
  
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}


.primary_text{
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}
@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotateImage {
  animation: rotate-animation 30s  linear infinite;
}
